html {
    min-height: 100%;
}

body {
    background-image: url(/images/background_Balliol.jpg);
    background-repeat: repeat-x;
    background-position: bottom left;
}

#footer {
    margin-bottom: 200px;
}
