
body {
    background-color: #ddd;
}

#editor_menu {
    display: block;
    color: #002147;
    border-bottom: 1px solid black;
}

.editor_menu_item :link {
    text-decoration: none;
    color: #002147;
}

.editor_menu_item :visited {
    text-decoration: none;
    color: #002147;
}

.editor_menu_item :hover {
    background-color: #002147;
    color: white;
}

.editor_menu_item {
    display: inline;
    margin-left: 10px;
}

.CodeMirror {
    height: auto;
}

.CodeMirror-scroll {
    overflow-x: auto; 
    overflow-y: hidden
}

#editor {
    border-bottom: 1px solid black;
}

#preview {
    border: 1px solid #999;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    max-width: 700px;
    font-weight:400;
}