#menu {
    width: 200px;
    margins: 0;
    /* background-color: #dddddd; */
    float: left;
    display: block;
    font-weight: 300;
    color: #002147;
    line-height: 120%;
}


#menu :link {
    text-decoration: none;
    color: #002147;
}

#menu :visited {
    text-decoration: none;
    color: #002147;
}

#menu :hover {
    text-decoration: underline;
    /* background-color: yellow; */
}

#menu_head {
    margin-top: 100px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.menu_lvl_0 {
    padding-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 150%;
}

.menu_lvl_1 {
    padding-top: 10px;
    margin-left: 40px;
    margin-right: 20px;
    font-size: 110%;
}

.menu_lvl_2 {
    padding-top: 10px;
    margin-left: 60px;
    margin-right: 20px;
    font-size: 80%;
}
