@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto-Light'), url(http://themes.googleusercontent.com/static/fonts/roboto/v10/Hgo13k-tfSpn0qi1SFdUfT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');

}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto-Regular'), url(http://themes.googleusercontent.com/static/fonts/roboto/v10/2UX7WLTfW3W8TclTUvlFyQ.woff) format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto-Medium'), url(http://themes.googleusercontent.com/static/fonts/roboto/v10/RxZJdnzeo3R5zSexge8UUT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto-Bold'), url(http://themes.googleusercontent.com/static/fonts/roboto/v10/d-6IYplOFocCacKzxwXSOD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto-Black'), url(http://themes.googleusercontent.com/static/fonts/roboto/v10/mnpfi9pxYH-Go5UiibESIj8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

html {
}

body {
    margin: 0;
    font-family: 'Roboto', Georgia, Palatino, Times New Roman, serif;
    font-weight: 400;
}

#header {
    background-color: #002147;
    color: white;
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    box-shadow: 10px 10px 5px #888888;
}

#header img {
    vertical-align: middle;
}



#footer {
    clear: both;
    color: #002147;
    padding: 10px;
    font-size: 80%;
    text-align: right;
}

#pagearea {
    margin: 0 auto;
    max-width: 900px;
    align: center;
}

#content {
    max-width: 700px;
    margin-left: 200px;
    /* background-color: #ffffff; */
    display: block;
    margin-right: 20px;
}

#content .divider_line {
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

#content p{
    text-align: justify;
}

#content_spacing {
    padding: 20px;
    margin-right: 20px;
    max-width:800px;
}

#content h1 {
    font-size: 250%;
    font-weight: 900;
}

#content h2 {
    font-size: 150%;
    font-weight: 700;
}

#content h3 {
    font-size: 120%;
    font-weight: 500;
}


.event {
    margin-bottom: 20px;
}

.event_time_loc {
    display: inline;
}

.event_toolbar {
    float: right;
    display: inline;
    font-weight: 300;
    color: #002147;
}

.event_title {
    font-size: 160%;
    font-weight: 700;
    text-align: center;
}

.event_speaker {
    font-size: 130%;
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px;
}

.event_abstract {
    text-align: justify;
}
