{% extends "layout_with_menu.html" %}

{% block title %}
Oxford Strings
{% endblock %}


{% block extra_css %}
<link rel="stylesheet" href="/css/background_image.css"/>
{% endblock %}


{% block extra_menu %}
  {% if is_admin %}
    <div class="menu_lvl_0">
      Administer
    </div>
    <div class="menu_lvl_1">
      <a href="{{ sync_url }}">Sync</a>
    </div>
    <div class="menu_lvl_1">
      <a href="{{ calendar_admin_url }}">Full calendar</a>
    </div>
    <div class="menu_lvl_1">
      <a href="{{ logout_url }}">Logout</a>
    </div>
  {% elif logged_in %}
    <div class="menu_lvl_0">
      Intranet
    </div>
    <div class="menu_lvl_1">
      <a href="{{ full_url }}">Calendar</a>
    </div>
    <div class="menu_lvl_1">
      <a href="{{ logout_url }}">Logout</a>
    </div>
  {% else %}
    <div class="menu_lvl_0">
      <a href="{{ login_url }}">Login</a>
    </div>
  {% endif %}
{% endblock %}


{% block content %}
<div id="content">

  <h1>All Upcoming Events</h1>

  {% for event in calendar %}
    {% include "calendar_event.html" %}
    <hr>
  {% endfor %}
  
</div>
{% endblock %}


{% block js_at_end %}
<script>
    var calendar = new Calendar('{{ calendar_admin_url }}');
</script>
{% endblock %}
