<div class="event" id="{{ event.uid }}">
  <div class="event_toolbar">
    {% if event.editable %}
      <a href="{{ event.get_edit_url() }}">Edit</a>
    {% endif %}
    <a href="#" name="{{ event.uid }}">Remove</a>
  </div>
  <div class="event_time_loc">On {{ event.get_time() }} in {{ event.location }}:</div>
  <div class="event_title">{{ event.title }}</div>
  <div class="event_speaker">{{ event.speaker }}</div>
  <div class="event_abstract"><b>Abstract:</b> {{ event.description }}</div>
</div>
