<div class="event" id="{{ event.key.id() }}">
  <div class="event_toolbar">
    {% if is_admin %}
      <a href="#" class="calendar_event_hide_link" name="{{ event.key.id() }}">Hide</a>
    {% endif %}
  </div>
  <div class="event_time_loc">
    On {{ event.get_time() }} {{ event.get_where() }}, a seminar in
    the {{ event.series }} series:</div>
  <div class="event_speaker">{{ event.speaker }}</div>
  <div class="event_title">{{ event.title }}</div>
  {% if event.description.strip() %}
  <div class="event_abstract"><b>Abstract:</b>
    {% autoescape false %}{{ event.description }}{% endautoescape %}</div>
  {% endif %}
</div>
