<div class="event" id="{{ event.key.id() }}">
  <div class="event_toolbar">
    {% if is_admin %}
      <a href="#" class="calendar_event_hide_link" name="{{ event.key.id() }}">Hide</a>
    {% endif %}
  </div>
  <div class="event_time_loc">
    On {{ event.get_time() }} {{ event.get_where() }}, a seminar in
    the {{ event.get_series_without_seminar() }} series:</div>
  <div class="event_speaker">{% autoescape false %}{{ event.get_speaker() }}{% endautoescape %}</div>
  <div class="event_title">{% autoescape false %}{{ event.title }}{% endautoescape %}</div>
  {% if event.description.strip() %}
  <div class="event_abstract"><em><b>{{ abstract_intro }}</b></em>
    {% autoescape false %}{{ event.description }}{% endautoescape %}</div>
  {% endif %}
</div>
