{% extends "layout.html" %}


{% block title %}
Editing {{ name }}
{% endblock %}


{% block extra_js %}
<script type="text/javascript" src="/codemirror/lib/codemirror.js"></script>
<script type="text/javascript" src="/codemirror/mode/markdown/markdown.js"></script>
{% endblock %}


{% block extra_css %}
<link rel="stylesheet" href="/codemirror/lib/codemirror.css"/>
<link rel="stylesheet" href="/css/editor.css"/>
{% endblock %}



{% block body %}
<div id="editor_menu">
  <div class="editor_menu_item">Preview</div>
  <div class="editor_menu_item">Save</div>
  <div class="editor_menu_item">Cancel</div>
</div>

<div id="editor">

  <form>
    <textarea id="code" name="code">
      {% autoescape false %}
      {{ content }}
      1
2
2
      
      {% endautoescape %}
    </textarea>
  </form>

  <script>
    var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
    mode: 'markdown',
    lineNumbers: true,
    theme: "default",
    extraKeys: {"Enter": "newlineAndIndentContinueMarkdownList"}
    });
  </script>

</div>


<div id="preview">
  <i>preview</i>
</div>
{% endblock %}
