{% extends "layout.html" %}


{% block title %}
Editing {{ name }}
{% endblock %}


{% block extra_js %}
<script type="text/javascript" src="/codemirror/lib/codemirror.js"></script>
<script type="text/javascript" src="/codemirror/mode/markdown/markdown.js"></script>
<script type="text/javascript" src="/js/editor.js"></script>
{% endblock %}


{% block extra_css %}
<link rel="stylesheet" href="/codemirror/lib/codemirror.css"/>
<link rel="stylesheet" href="/css/editor.css"/>
{% endblock %}



{% block body %}
<div id="editor_menu">
  <div class="editor_menu_item"><a href="#" id="menu_preview">Preview</a></div>
  <div class="editor_menu_item"><a href="#" id="menu_save">Save</a></div>
  <div class="editor_menu_item"><a href="#" id="menu_cancel">Cancel</a></div>
</div>

<div id="editor">
  <form>
    <textarea id="source" name="source">{% autoescape false %}{{ source }}{% endautoescape %}</textarea>
  </form>
</div>


<div id="preview" name="preview">
{% autoescape false %}{{ preview }}{% endautoescape %}
</div>

<script>
  var editor = Editor.fromTextArea("/edit/{{ name }}", "source", "preview")
</script>

{% endblock %}
