{% extends "layout_with_menu.html" %}

{% block title %}
Oxford Strings
{% endblock %}


{% block header %}
<div id="header">
  Header
</div>
{% endblock %}



{% block content %}
{% autoescape true %}

<div id="content">
  <h1>
    Welcome
  </h1>

  <h2>subhead</h2>

  <h3>subsubhead</h3>
  
  <p>
    Lorem ipsum. By default, block-level elements stretch to the width
    of their containers. If the browser window is small, the
    block-level elements shrink—in other words, text inside the con-
    tents wraps within the confines of the contents’ shrinking walls.
    However, when you use pixel units rather than percentages, the
    width of the columns becomes fixed. Even as a browser window
    shrinks or expands, the column widths remain fixed.  To keep the
    width of the left column fixed while enabling the main column to
    stretch, simply remove the width property assigned to the body
    element.
  </p>

  <p>123</p>
  <p>123</p>
  <p>123</p>
  <p>123</p>
  <p>123</p>
  <p>123</p>
  <p>123</p>
  <p>123</p>
  <p>123</p>
  <p>123</p>
  <p>123</p>
  <p>123</p>
  <p>123</p>
  <p>123</p>
  <p>123</p>
  <p>123</p>
  <p>123</p>
  <p>123</p>
  <p>123</p>
  <p>123</p>
  <p>123</p>
  <p>123</p>
  <p>123</p>
  <p>123</p>
  <p>123</p>
  <p>123</p>
  <p>123</p>
  <p>123</p>
  <p>123</p>
  <p>123</p>
  <p>123</p>
  <p>123</p>
  <p>123</p>
  <p>123</p>
  <p>123</p>
  <p>123</p>
  <p>123</p>
  <p>123</p>
  <p>123</p>
  <p>123</p>
  <p>123</p>
  <p>123</p>
  <p>123</p>
  <p>123</p>
  <p>123</p>
  <p>123</p>
  <p>123</p>
  <p>123</p>
  <p>123</p>
  <p>123</p>
  <p>123</p>
  <p>123</p>
  <p>123</p>
  
</div>

{% endautoescape %}
{% endblock %}
