<!DOCTYPE html>
<html>

  <head>
    <script type="text/javascript" src="/js/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.10.4.custom.min.js"></script>
    <script type="text/javascript" src="/js/calendar.js"></script>
    {% block extra_js %}
    {% endblock %}
    <link rel="stylesheet" href="/css/jquery-ui-1.10.4.custom.css"/>
    <link rel="stylesheet" href="/css/menu.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    {% block extra_css %}
    {% endblock %}

    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>

  <body>
    {% block body %}

    {% block header %}{% endblock %}

    <div id="pagearea">
      {% block menu %}{% endblock %}
      {% block content %}{% endblock %}

      <div id="footer">
	Copyright &copy; 2014 University of Oxford
      </div>
    </div>

    {% endblock %}
  </body>

  {% block js_at_end %}
  {% endblock %}
</html>
