{% extends "layout_with_menu.html" %}

{% block title %}
Oxford Strings
{% endblock %}





{% block content %}
{% autoescape true %}

<div id="content">

  {% autoescape false %}
    {{ content }}
  {% endautoescape %}


  <p>123</p>
  <p>123</p>
  <p>123</p>
  <p>123</p>
  <p>123</p>

  <p>123</p>
  <p>123</p>
  <p>123</p>
  <p>123</p>
  <p>123</p>
  <p>123</p>
  <p>123</p>
  <p>123</p>
  <p>123</p>
  <p>123</p>
  <p>123</p>
  <p>123</p>
  <p>123</p>
  <p>123</p>
  <p>123</p>
  <p>123</p>
  
</div>

{% endautoescape %}
{% endblock %}
