<!DOCTYPE html>
<html>

  <head>
    <script type="text/javascript"
            src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
      tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
      });
    </script>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/style.css"/>
  </head>

<body>
  <h1>This Week</h1>

<ol>
{% for event in calendar %}
<li>
  <div style="font-size:14px;">
    On {{ event.get_time() }} {{ event.get_where() }}, a seminar in
    the {{ event.series }} series:
  </div>
  <div style="font-size:17px; font-weight:bold; padding-top:5px; padding-bottom: 3px;">
    {% autoescape false %}{{ event.speaker }}{% endautoescape %}
  </div>
  <div style="font-size:17px; font-weight:bold; padding-bottom: 5px; color:#000080;">
    {% autoescape false %}{{ event.title }}{% endautoescape %}
  </div>
  {% if event.description.strip() %}
  <div style="font-size:14px;">
    <b>{{ abstract_intro }}</b>
    <em>{% autoescape false %}{{ event.description }}{% endautoescape %}</em>
  </div>
  {% endif %}
<br/>
</li>
{% endfor %}
</ol>

</body>

</html>


