<!DOCTYPE html>
<html>

  <head>
    <script type="text/javascript"
            src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
      tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
      });
    </script>
    <link rel="stylesheet" href="/css/style.css"/>
  </head>

<body>
  <h1>This Week</h1>

<ol>
{% for event in calendar %}
<li>
  <div style="font-size:12px;">
    On {{ event.get_time() }} {{ event.get_where() }}, a seminar in
    the {{ event.series }} series:
  </div>
  <div style="font-size:18px; font-weight:bold; padding-top:5px; padding-bottom: 3px;">
    {{ event.speaker }}
  </div>
  <div style="font-size:17px; color:#002147;">
    {{ event.title }}
  </div>
  {% if event.description.strip() %}
  <div style="font-size:12px;">
    <b>{{ abstract_intro }}</b>
    <em>{% autoescape false %}{{ event.get_description() }}{% endautoescape %}</em>
  </div>
  {% endif %}
<br/>
</li>
{% endfor %}
</ol>

</body>

</html>


